<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/content/css")

   

</head>
<body>
    <div>
    @RenderSection("Cabeçalho", false)
    @Html.Partial("_Menu")
    </div>
    
    <div class="container body-content">
        @RenderBody()

    </div>

    <div>
        @RenderSection("Rodapé",false)
        @Scripts.Render("~/Bundles/jquery")
        @Scripts.Render("~/Bundles/boostrap")
        @RenderSection("scripts", required:false)

    </div>
    
</body>
</html>
